body{
  background-color: #D3D3D3;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: 	grey;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

.active {
  background-color: blue;
  color: white;
}

.container-fluid{
  padding: 20;
  background-color: white;
  width: 100%;
  font-size: 40;
  border-radius: 5px;
}



#chart{
  background-color: #D3D3D3;
}

#dunder {
    padding-left: 20px;
    border-collapse: collapse;
    width: 100%;
}

#dunder td, #dunder th {
    border: 1px solid #ddd;
    padding-left: 8px;
    padding-right: 8px;
}

#dunder tr:nth-child(even){background-color: #f2f2f2;}

#dunder tr:nth-child(odd){background-color: white;}

#dunder tr:hover {background-color: #ddd;}

#dunder th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #191970;
    color: white;
}



input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
 div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
} 
